body {
    background-color: #000;
    color: #fff;
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

p {
    margin: 0;
    padding: 0;
}

div {
    margin-bottom: 0.6em;
}

sup {
    font-size: 0.8em;
}

footer {
    background-color: #000; /* Hintergrundfarbe des Footers */
    color: #b0b0b0; /* Etwas dunklerer Farbton als der Rest der Schrift */
}

.text-muted {
    color: #b0b0b0; /* Beispiel für etwas dunkleres Grau */
}
